**/node_modules
**/.vscode
**/.idea

packages/**/report.*.json
packages/**/dist
packages/**/lib
packages/**/.env.development
packages/btce-front/.env.development
!packages/styles/nameos/dist
!packages/styles/btce/dist
!packages/styles/btce-new/dist
!packages/styles/btce-rem/dist
!packages/styles/btce-mobile/dist
!packages/styles/nameos/dist
!packages/styles/block-explorer/dist
**/npm-debug.log
**/package-lock.json
lerna-debug.log
git
Dockerfile
.gitlab-ci.yml

.DS_Store
*.codekit3
.codekit3

**/test/__snapshots__/*
